<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EditWishList</title>
    </head>
    <body>
        <h1><%= title %></h1>

        <form method="POST" action="/wishlist/update/<%= data.id%>">
            <label for="id">ID</label>
            <input type="text" name="id" id="id" value="<%= data.id %>" disabled>
            <label for="wish">やりたいこと</label>
            <input type="text" name="wish" id="wish" value="<%= data.wish %>">
            <label for="memo">詳細</label>
            <input type="text" name="memo" id="memo" value="<%= data.memo %>">
            <label for="finished">いつまでに</label>
            <input type="text" name="finished" id="finished" value="<%= data.finished %>"><br>
            
            <button class="edit-btn">更新</button>
            <!-- <button type=“button” onclick="location.href='/'">戻る</button> -->
            <!-- <button class="cancel-btn">キャンセル</button> -->
       </form>
    </body>
</html>
